@font-face {
  font-family: BalsamiqSans-Bold;
  src: url('@/assets/font/BalsamiqSans-Bold.ttf');
}

@font-face {
  font-family: BalsamiqSans-BoldItalic;
  src: url('@/assets/font/BalsamiqSans-BoldItalic.ttf');
}

@font-face {
  font-family: BalsamiqSans-Italic;
  src: url('@/assets/font/BalsamiqSans-Italic.ttf');
}

@font-face {
  font-family: BalsamiqSans-Regular;
  src: url('@/assets/font/BalsamiqSans-Regular.ttf');
}
